body {
    font-family: Arial, sans-serif;
  }
  
  #recommendations-container {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  #recommendations-container p {
    margin: 5px;
  }
  